body {
    font-family: Arial;
    text-align: center;
}

input {
    padding: 8px;
    margin: 5px;
}

button {
    padding: 8px;
    background: blue;
    color: white;
    border: none;
}

table {
    margin: auto;
    border-collapse: collapse;
    width: 60%;
}

th, td {
    border: 1px solid black;
    padding: 10px;
}
